Source: wdb-gribload
Section: science
Priority: extra
Maintainer: Vegard Bønes <wdb@met.no>
Build-Depends: debhelper (>= 5),
 autotools-dev,
 cdbs,
 libgrib-api-dev,
 libgrib-api-tools,
 libwdbload2
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.1

Package: wdb-gribload
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 libwdbload2,
 libgrib-api-0d-0
Description: Load GRIB files into wdb
 Read GRIB files and store them into a wdb database.
