Source: wdb-gribload
Section: science
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Michael O. Akinde <michael.akinde@met.no>
Build-Depends: debhelper (>= 7),
 autotools-dev,
 cdbs,
 libgrib-api-dev,
 libgrib-api-tools,
 libwdbload-dev
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.3

Package: wdb-gribload-1.1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: wdb-gribload
Description: Load GRIB files into wdb
 Read GRIB files and store them into a wdb database.
